/**
 * problem3.css
 *
 * You will be adding new rules to this file in order to alter the way that problem3.html looks
 * when viewed in a web browser.
 */

.first {
    border: 5px dotted black;
    color: blue;
}

.first > p > a {
    text-decoration: none;
}

.second {
    background-color: limegreen;
}

.second > div {
    border: 1px solid black;
    padding: 0px;
}

.second a {
    font-style: italic;
}

.third {
    padding: 20px;
    border: thick solid blue;
}

#fourth > p {
    font-size: 200%;
}
