html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative
}
body{
    height:100% /* force the BODY element to match the height of the HTML element */
}

#content_container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 750px;
    min-height: 100%;
    margin: 0 auto;

    background-color: rgb(230, 227, 217);
}

#header {
    width: 96%;
    height: 15%;

    padding: 2%;

    background-color: rgb(99, 0, 11);
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

#header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 250%;
}

#sidebar {
    width: 20%;
    /*height: 300px;*/
    height: 100%;
    display: block;
    float: left;
}


#navigation li {
    list-style-type: none;
}

#navigation a {
    text-decoration: none;
    color: black;
}

#navigation a:hover {
    text-decoration: underline;
    color: blue;
}

#footer {
    height: 15%;
    width: 96%;
    display: block;
    padding: 2%;
    color: white;

    background-color: rgb(99, 0, 11);
    position: absolute;
    bottom: 0;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    font-size: 120%;
    text-decoration: underline;
}