/**
 * problem4.css
 *
 * You will be adding new rules to this file in order to alter the way that problem4.html looks
 * when viewed in a web browser.
 */

ol.costs {
    margin-bottom: 0;
* {
    font-size: 1em !important;
}

ol.costs {
    font-weight: normal;
}

ol.costs li {
    font-weight: bold;
}

ol.costs li.costs {
    color: purple;
}

* {
    font-size: 1em !important;
    font-weight: bold;
}

/*.recommended {*/
    /**/
/*}*/
li#section4 > ol > li + li + li + li{
    font-weight: bold;
}
